{% extends 'base.html' %}


{% block content %}

<section class="section-conten padding-y full-height">

{% include 'includes/alerts.html' %}
<div class="container d-flex flex-column justify-content-center">
	{% include 'includes/dashboard_sidebar.html' %}
	<div class="row">
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3 text-white">Your order history</strong>

		</header>
		<div class="card-body">
			<div class="row">
			<div class="col-md-12">
				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col" class="text-white">Order #</th>
				      <th scope="col" class="text-white">Billing Name</th>
				      <th scope="col" class="text-white">Phone</th>
				      <th scope="col" class="text-white">Order Total</th>
					  <th scope="col" class="text-white">Date</th>
				    </tr>
				  </thead>
				  <tbody>
						{% for order in orders %}
				    <tr>
				      <th scope="row"><a href="{% url 'order_detail' order.order_number %}" class="cust-anchor">{{order.order_number}}</a></th>
				      <td class="text-white">{{order.full_name}}</td>
				      <td class="text-white">{{order.phone}}</td>
				      <td class="text-white">${{order.order_total}}</td>
							<td class="text-white">{{order.created_at}}</td>
				    </tr>
				{% endfor %}

				  </tbody>
				</table>
			</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}
