{% extends 'base.html' %}
{% load static %}

{% block content %}



<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
	<div class="">

		<div class="intro-banner-wrap d-flex justify-content-center position-relative" style="width: 100vw;">
			<img src="{% static 'images/banners/hero-banner.jpg' %}" class="img-fluid rounded not-pixeled" style="width: 80%; max-height: 70vh;">
		  
			<!-- Shadow overlay -->
			<div class="shadow-overlay"></div>
		  
			<!-- Shop Here button -->
			<div class="shop-button">
			  <a href="{% url 'store' %}" class="btn-outline-primary-hero">Shop Here</a>
			</div>
		  </div>
		  

	</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
	<div class="container">

		<header class="section-heading">
			<a href="{% url 'store' %}" class="btn btn-outline-primary float-right new-btn-color-outline">See all</a>
			<div class="wrap-heading">
				<h3 class="section-title">Popular products </h3>
				<div class="divider"></div>
			</div>

		</header><!-- sect-heading -->


		<div class="row">
			{% for product in products %}
			<div class="col-md-3">
				<div class="card card-product-grid glass-effect">
					<a href="{{ product.get_url }}" class="img-wrap"> <img class="img-bg-rm"
							src="{{ product.images.url }}"> </a>
					<figcaption class="info-wrap">
						<div class="d-flex justify-content-between">
							<a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
							<p class="">$ {{ product.price }}</p> <!-- price-wrap.// -->
						</div>
						<div class="rating-star">
							<span>
								<i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}"
									aria-hidden="true"></i>
								<i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}"
									aria-hidden="true"></i>
								<i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}"
									aria-hidden="true"></i>
								<i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}"
									aria-hidden="true"></i>
								<i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}"
									aria-hidden="true"></i>
							</span>
						</div>
					</figcaption>
				</div>
			</div> <!-- col.// -->
			{% endfor %}
		</div> <!-- row.// -->

	</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->






{% endblock %}